.custom-button {
  font-size: 15px;
  font-family: inherit;
  color: white;
  background-color: black;
  padding: 20px 30px;
  width: auto;
  min-width: 150px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.1s;
  text-transform: uppercase;
  font-weight: bolder;
  // line-height: 50px;

  &:hover,
  &:focus {
    color: black;
    background-color: white;
    transform: scale(0.98);
  }

  &:focus {
    outline: 1px solid #d3d3d3;
    outline-offset: -4px;
  }

  &:active {
    transform: translateY(3px);
  }
  &.isGoogleSignIn {
    background-color: #4285f4;
    transition: all 0.1s;

    &:hover,
    &:focus {
      color: white;
      background-color: #357ae8;
    }
  }
}
