.sign-in-and-sign-up {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.loading-user,
.login-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-user {
  height: 30vh;
}

.user-signed-in {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-signed-in-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
