.sign-in {
  width: 42vw;
  padding: 30px 50px;
  min-width: 260px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
