.header {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  // margin-bottom: 26px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .option {
      min-width: 60px;
      margin-right: 20px;
      padding: 8px 14px;
      transition: transform 0.2s;

      &:last-child {
        margin-right: 0px;
      }

      &:hover {
        transform: translateY(2px);
        cursor: pointer;
      }
    }
  }
}
