.collection-preview {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .preview-header {
    display: flex;
    // justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    .custom-button {
      padding: 8px;
      min-width: 100px;
      margin-left: 30px;
    }
  }

  .title {
    font-size: 28px;
  }

  .preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}
